.font-test-family {
  font-family: Chilanka;
}

/* .variable-string-placeholder p span */
.variable-string-placeholder {
  margin-left: 5px;
}

li::marker {
  content: normal;
}

li {
  text-decoration-line: none;
}